In [1]:
import pandas as pd
from newspaper import Article
import csv

In [2]:
df = pd.read_csv("dataset.csv")
df['Authors'].fillna('', inplace = True) ## Replace NaN with blank string
df

,Authors,Text,URL,Company,Category,Label
0,['Analysis John Harwood'],But you don't need James Bond to recognize the...,http://rss.cnn.com/~r/rss/edition_world/~3/69J...,CNN,World,True
1,['Paul Gittings'],(CNN) Japanese prime minister Shinzo Abe insis...,http://rss.cnn.com/~r/rss/edition_world/~3/qm5...,CNN,World,True
2,['Luke Mcgee'],London (CNN) The outbreak of the novel coronav...,http://rss.cnn.com/~r/rss/edition_world/~3/iXI...,CNN,World,True
3,,Chat with us in Facebook Messenger. Find out w...,http://rss.cnn.com/~r/rss/edition_world/~3/gUz...,CNN,World,True
4,"['Julia Horowitz', 'Cnn Business']",London (CNN Business) Companies have spent the...,http://rss.cnn.com/~r/rss/edition_world/~3/Be_...,CNN,World,True
...,...,...,...,...,...,...
691,['Press Trust Of India'],The Supreme Court Thursday refused to scrap th...,https://www.business-standard.com/article/pti-...,Business Standard,Education,True
692,['Press Trust Of India'],"The Indian Institute of Management, Indore (II...",https://www.business-standard.com/article/pti-...,Business Standard,Education,True
693,['Press Trust Of India'],Capital market regulator Securities and Exchan...,https://www.business-standard.com/article/pti-...,Business Standard,Education,True
694,['Bs Web Team'],The of Secondary (RBSE) will be conducting the...,https://www.business-standard.com/article/educ...,Business Standard,Education,True
695,['Press Trust Of India'],The prestigious Indian Institute of Technology...,https://www.business-standard.com/article/pti-...,Business Standard,Education,True

In [5]:
with open('Titledataset.csv','a',newline='',encoding='utf-8') as new_file:
    csv_writer = csv.writer(new_file)
    csv_writer.writerow(['Authors','Title','Text','URL','Company','Category','Label'])##first uncomment this

In [10]:
import newspaper
for i in range(len(df["Authors"])):
    url = df.iloc[i]["URL"]
    try:
     news = Article(url)
     news.download()
     news.parse()
     with open('Titledataset.csv','a',newline='',encoding='utf-8') as new_file:
         csv_writer = csv.writer(new_file)
         csv_writer.writerow([df.iloc[i]["Authors"],news.title,df.iloc[i]["Text"],df.iloc[i]["URL"],df.iloc[i]["Company"],df.iloc[i]["Category"],df.iloc[i]["Label"]])
     print((i/len(df["Authors"]))*100 , "% Complete ", end="\r")
    except:
        pass
print("Done")

Done5632183908046 % Complete    % Complete  % Complete  % Complete